body {
	font-size: 14px;
    line-height: 18px;

}

div.leftButton{
    position: absolute;
    top: 7px;
    left: 6px;S
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    line-height: 28px;
    -webkit-border-width: 0 8px 0 8px;
    border-width: 0 8px 0 8px;
}

/* Responsive design to ipad e iphone */

@media screen and (-webkit-device-pixel-ratio: 0.75) {
    body {font-size: 10.5px;}
    li {line-height: 14px; }
}
/* desktop browser,s */
@media screen and (-webkit-device-pixel-ratio: 1.0) {
    body {font-size: 14px;}
    li {line-height: 20px; }
}

/* e.g. Google Nexus S (Samsung Galaxy S) */
@media screen and (-webkit-device-pixel-ratio: 1.5) {
    body {font-size: 16px;}
    li {line-height: 24px; }
}

/* e.g. iPad */
@media screen and (-webkit-device-pixel-ratio: 2.0) {
    body {font-size: 24px;}
    li {line-height: 36px; }
}

/* Large desktop */
@media (min-width: 1200px) {


}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }

