<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Urbbox</title>

    <link href="style/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="style/style.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="js/iphone.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="style/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
    
    <h1>{{ var }}</h1>
    
    
    <div class="row-fluid">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="leftButton" onclick="toggleMenu()">Menu</div>
                <div class="container">
                    <a href="" class="brand">Urbbox</a>
                    <div class="nav-colappse collapse"></div>
                </div>
            </div>
        </div>
        <form action="busca" class="form-search centered">
            <input type="text" class="large-small search-query">
            <button type="submit" class="btn">Busca</button>
        </form>

        
        <div id="restaurantes">
            {% for x in range(10) %}
                <div class="row">
                    <div class="span4">
                        <a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
                    </div>
                    <div class="span7">
                        <h4>Ponto de luz</h4>
                        <p>O Melhor bar da cidade</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row"></div>
        <div class="pagination pagination-centered">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>

        <br>
        <br>
        <br>

    </div>


